body {
	background: black;
	margin: 0;
}

#vaderwidget {
	width: 50%
	float: left;
	display: inline-block;
}

#vaderwidget div {
	width: 100%;
	margin: 10px;
}

#reseplanerare iframe {
	width: 100%;
	height: 600px;
}

#reseplanerare {
	height: 100%;
	width: 50%;
	float: right;
	display: inline-block;
}