<div class="leftsidebar">
	<!-- SnapWidget -->
	<script src="https://snapwidget.com/js/snapwidget.js"></script>
	<iframe src="https://snapwidget.com/embed/263397" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</div>
<div class="rightsidebar">
	<h1>Nästa tur</h1>
	<div id="mossen" class="container">
		<h2>Mossen</h2>
		<div class="item">
			<div class="line">Linje</div>
			<div class="destination">Destination</div>
			<div class="location">Läge</div>
			<div class="departure">Avgår om</div>
			<div class="departure">Därefter om</div>
		</div>
		<div class="item">
			<div class="line">52</div>
			<div class="destination">Linneplatsen</div>
			<div class="location">B</div>
			<div class="departure">3 min</div>
			<div class="departure">17 min</div>
		</div>
	</div>
	<div id="pilbagsgatan" class="container">
		<h2>Pilbågsgatan</h2>
		<div class="item">
			<div class="line">Linje</div>
			<div class="destination">Destination</div>
			<div class="location">Läge</div>
			<div class="departure">Avgår om</div>
			<div class="departure">Därefter om</div>
		</div>
	</div>
	
</div>
<div class="bar">
	<div id="c_9797ec656e91e13cba4e553793c755d6" class="completo"><h2 style="color: #ffffff; margin: 0 0 3px; padding: 2px; font: bold 13px/1.2 Verdana; text-align: center;">Vädret Göteborg</h2></div><script type="text/javascript" src="http://www.klart.se/widget/widget_loader/9797ec656e91e13cba4e553793c755d6"></script>
	<div id="clock">
		<iframe src="http://free.timeanddate.com/clock/i5ecflov/n291/tlse27/fs36/fcfff/tct/pct/pd2/tt0" frameborder="0" width="607" height="39" allowTransparency="true"></iframe>
	</div>
</div>
